.App {
  text-align: center;
}

.Title {
  font-size: 5vw;
  position: absolute;
  color: white;
  margin: 0;
  top:20%;
  font-family: 'Courier New', Courier, monospace;
}

.Game-Screen{
  background-color: black;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}

.Midline{
  top: 50vh;
  background-color: white;
  height: 0.5vh;
  width: 100vw;
  position: absolute;
}

.Level-Selection{
  color: white;
  font-size: 2vw;
  top: 30vh;
  left: 30vw;
  text-align: center;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  height: 10vh;
  width: 40vw;
}

.Button-Container{
  display: flex;
  padding-top: 10vh;
  width: 40vw;
  justify-content: space-between;
}

.levels{
  color: white;
  background-color: lightgray;
  font-size: 2vw;
  display: flex;
  align-items: center;  
  justify-content: space-around;
  top: 10vh;
  left: 0;
  font-family: 'Courier New', Courier, monospace;
  height: 10vh;
  width: 10vw;
  cursor: pointer;
}

.Score{
  color: lightgoldenrodyellow;
  font-size: 5vw;
  display: flex;
  place-content: center;
  top: 39.8%;
  left: 40%;
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  height: 20vh;
  width: 20vw;
  flex-direction: column-reverse;
}

.Start-Button {
  color: #FFF;
  transition: all 0.5s;
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Start-Button span {
  z-index: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  position: absolute;
  width: 100%;
  height: 100%; 
  font-family: 'Courier New', Courier, monospace;
}
.Start-Button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.Start-Button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
}
.Start-Button:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.Start-Button:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

.GameOver{
  color: white;
  font-size: 5vw;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 40%;
}